.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;
  margin: 2em;
  background-color: rgb(255, 246, 235);
  box-shadow: 0.1em 0.1em 0.75em black;
  border-radius: 1em;
}